<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            body{
                font-family: Arial, Helvetica, sans-serif;
                background-color: black;
                min-height: 90vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            header h2{
                color: white;
                font-size: 40px;
            }
            .main-content{
                
            }
        </style>
    </head>
    <body>
         <div class="main-content">
            {{>header}}
            <img src="/assets/404.png" alt="404 Error" id="wimg">
        </div>
    </body>
</html>